* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: bold;
}

.landing-page-container {
  width: 100vw;
  height: 100vh;
  background-color: rgb(241, 239, 239);
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-content {
  width: 600px;
}

h1 {
  text-align: center;
  margin-bottom: 50px;
}

.QA-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.QA-layout {
  border: 1px solid rgba(0, 0, 0, 0.196);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.268);
}

.question-block {
  display: flex;
  justify-content: space-between;
}

.answer-block {
  padding: 20px 0 0 0;
}

.right-space {
  margin-right: 5px;
}

button {
  padding: 0 5px;
  font-size: 18px;
  background-color: transparent;
  border: 0;
}

.answer-block {
  display: none;
}

.btn-hide {
  display: none;
}

.show-answer {
  display: block;
}

.active-QA {
  background-color: white;
}

.minus-btn {
  /* border: 1px solid black; */
  padding: 0 8px;
  background-color: rgb(135, 132, 132);
  color: white;
  border-radius: 50%;
}
